body {
    background: black;
    padding: 0;
    margin: 0;
}

canvas {
    border: 5px solid #9E6D01;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@font-face {
    font-family: 'scochflashfont';
    font-style: normal;
    src: url('assets/Fonts/scochflashfont.ttf');
}


#bugfixer {
    font-family: 'scochflashfont';
    visibility: hidden;
}
